@import "../../styles/"; 
// .logo {
//     float: center;
// }

// .logo-container {
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     // // height: 100vh;
//     // height: 150px;
//     position: absolute;
//     top: 40px;
//     left: 50%;
//     transform: translateX(-50%);
//     z-index: 2;
//   }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    height: 130px;
  }
  
  
//   @include extra-small {
//     .logo-container {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         // height: 100vh;
//         height: 150px;
        
//       }
//   }